{% extends  'base.html'%}



{% block title %}
    index
{% endblock %}



{% block content %}
  <div class="offer">
    <div class="offer-content">
      <h1> Hello my frend</h1>
      <p>
        добро пожаловать на сайт
        здесь вы можете до начала
        эге хронить ваши шпаргалки
        <br>
        все ответы после этого
        вы можете быстро найти или<br>
        же включите камеру и навидите <br>на вапросы
      </p>
      <a href="#">Зарегистрироватся</a>
    </div>
  </div>
{% endblock %}
